export TW_DATA_LOCATION="~/private/psuite/todo"
export TW_TASKRC_LOCATION="~/private/psuite/todo/taskrc"
export TW_API_TOKENS="dev-token-12345"
export TW_API_CORS_ENABLED="true"
export TW_API_CORS_ORIGINS="http://localhost:5173"